@use 'sass:math';
@use '@styles/helpers/functions' as *;

@mixin fluid-text($max: 100, $min: 10) {
  font-size: fluid($max, $min);
}

@mixin frosted-glass(
  $blur: 15,
  $saturate: 160,
  $bgColor: var(--color-frosted-glass-100),
  $borderColor: var(--color-frosted-glass-100)
) {
  background: $bgColor;
  backdrop-filter: blur($blur * 1px) saturate($saturate * 1%);
  border: 1px solid $borderColor;
}

@mixin gradient {
  position: relative;
  isolation: isolate;
  color: var(--color-black-400);
  background: var(--linear-gradient);
  overflow: hidden;
  transition: var(--transition-duration);

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--linear-gradient-hover);
    opacity: 0;
    transition: opacity 1s ease;
    z-index: -1;
  }

  &:hover {
    opacity: 0.95;
    transform: translateY(rem(-1));
  }

  &:hover::before {
    opacity: 1;
  }
}

@mixin hide {
  opacity: 0;
  visibility: hidden;
}

@mixin show {
  opacity: 1;
  visibility: visible;
}

@mixin flex-center($isInline: false) {
  @if $isInline {
    display: inline-flex;
  } @else {
    display: flex;
  }

  justify-content: center;
  align-items: center;
}

@mixin abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

@mixin abs-x {
  position: absolute;
  left: 50%;
  translate: -50%;
}

@mixin abs-y {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
}

@mixin square($size) {
  width: $size;
  height: $size;
}

@mixin visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}
