:root {
  --color-light: #ffffff;

  --color-dark: #141414;
  --color-dark-10: #1a1a1a;
  --color-dark-15: #262626;
  --color-dark-20: #333333;
  --color-dark-40: #666666;
  --color-gray-50: #7e7e81;
  --color-gray-60: #98989a;

  --color-border: #333333;

  --transition-duration: 0.2s;
}
