:root {
  --color-black-400: #000;
  --color-black-300: #121312;
  --color-black-100: #1e1e1e;
  --color-black-200: #181818;
  --color-gray: #333333;
  --color-white-100: #dedede;
  --color-light-blue-primary: #65e2fe;
  --color-white-200: #fff;
  --color-purple-secondary: #a886f8;
  --color-white: #fff;
  --color-white-300: #888;
  --color-white-400: #3b3b3b;
  --color-green: #27AE60;
  
  --border: var(--color-black-100) 1px solid;

  --transition-duration: 0.2s;
}
