node_modules
**/node_modules

.git
.next
**/.next

dist
**/dist
coverage
**/coverage

.env
**/.env
.env.*
**/.env.*

npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

Dockerfile
docker-compose.yml
