@use '@styles/helpers' as *;

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(20);
  width: min(100%, rem(520));
}

.button {
  margin-block: rem(10);
  width: 100%;
  padding-block: rem(13);
}

.error {
  color: var(--color-red);
}

.isInvalid {
  opacity: 0.5;
  cursor: default;
}

.line {
  display: block;
  min-width: fluid(430, 200);
  height: rem(1);
  background-color: var(--color-white-400);
}

.link {
  color: var(--color-white-300);
}
