:root {
  --asset-background-image: url('/background.svg');
  --asset-icon-blue-tick: url('/icons/blue-tick.svg');
  --asset-icon-logo: url('/icons/logo.svg');
  --asset-icon-note: url('/icons/note.svg');
  --asset-icon-camera: url('/icons/camera.svg');
}
