@use '@styles/helpers' as *;

.formGroup {
  width: 100%;
}

.inputWrap {
  position: relative;
}

.input {
  display: block;
  width: 100%;
  color: var(--color-white);
  padding: rem(17);
  background-color: var(--color-black-100);
  border: var(--border-gray);
  border-radius: rem(12);

  &:focus-visible {
    border-color: var(--color-purple-secondary);
  }
}

.eyeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  aspect-ratio: 1 / 1;
  top: 50%;
  transform: translateY(-50%);
  right: rem(10);
  background-color: transparent;
  padding: 0; 
}

.isInvalid {
  border-color: var(--color-red);
}

.error {
  padding-top: rem(5);
  font-size: fluid(12, 10);
  color: var(--color-red);
}
