@use '@styles/helpers' as *;

.button {
  display: flex;
  justify-content: space-between;
  gap: rem(6);
  align-items: center;
  color: var(--color-white-200);
  background-color: var(--color-black-300);
  padding: fluid(10, 7) fluid(14, 10);
  font-size: fluid(14, 11);
  border: var(--border);
  margin-top: rem(-6);
  border-radius: rem(10);

  &:hover {
    background-color: var(--color-gray);
  }
}

.buttonText {
  font-weight: 500;
  line-height: 1.6;
  margin-right: auto;
}

.hotkey {
  margin: 0;
  padding: fluid(5, 3) fluid(8, 6);
  background-color: var(--color-black-100);
  border-radius: rem(8);
  transition: var(--transition-duration);

  &:hover {
    transform: scale(1.05);
  }

  &:not(:hover) {
    transform: scale(1);
  }

  &:active {
    transform: scale(0.95);
  }

  @include mobile {
    display: none;
  }
}
