@use '@styles/helpers' as *;

.button {
  display: flex;
  justify-content: space-between;
  gap: 6px;
  align-items: center;
  padding: fluid(8, 6) fluid(12, 8);
  font-size: fluid(14, 10);
  border: var(--border);
  margin-top: -10px;

  &:hover {
    background-color: var(--color-gray);
  }
}

.buttonText {
  font-weight: 500;
  line-height: 1.6;
  margin-right: auto;
}

.hotkey {
  padding: fluid(5, 3) fluid(8, 6);
  background-color: var(--color-black-100);
  border-radius: 8px;
  transition-duration: var(--transition-duration);

  &:hover {
    transform: scale(1.05);
  }

  &:not(:hover) {
    transform: scale(1);
  }
}
