@use '@styles/helpers' as *;

.codeBlock {
  overflow: hidden;
  border: var(--border-gray);
  border-radius: rem(12);
  background: var(--color-black-200);
}

.codeHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: rem(8) rem(12);
  border-bottom: 1px solid var(--color-gray);
  font-size: rem(14);
  color: var(--color-white-200);
  background: var(--color-black-100);
}

.codeCopyButton {
  color: var(--color-white-100);
  background: transparent;
}