.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  padding: 0;
  background-color: var(--color-black-200);
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    background-color: var(--color-gray);
  }
}
