@use '@styles/helpers' as *;

.history {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: fluid(14, 10);
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: fluid(10, 6);
}

.title {
  font-weight: 500;
}

.empty {
  color: var(--color-white-300);
  font-style: italic;
  margin-inline: auto;
  padding-block: fluid(12, 8);
}
